<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3>
                        Registros de Pedidos de Clientes Totales
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div *ngIf="listadoPedidos == null" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    <table *ngIf="listadoPedidos" class="table">
                        <thead>
                          <tr>
                            <th scope="col">N° Pedido</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Fecha Emision</th>
                            <th scope="col">Estado del Pedido</th>
                            <th scope="col">Fecha de Aprobacion</th>
                            <th scope="col">Vendedor encargado de Aprobacion</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pedido of listadoPedidos;">
                            <th>{{pedido.idPedido}}</th>
                            <th>{{pedido.idVendedor}}</th>
                            <td>{{pedido.idCliente}}</td>
                            <td>{{pedido.idProducto}}</td>
                            <td>{{pedido.cantidad}}</td>
                            <td>{{pedido.fechaEmision}}</td>
                            <td>{{pedido.estado}}</td>
                            <td>{{pedido.fechaAprobacion}}</td>
                            <td>{{pedido.idVendedorAprobado}}</td>
                          </tr>
                        </tbody>
                      </table>



                </div>
            </div>
        </div>
    </div>
</div>
