<ul class="nav justify-content-center navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="*">Registros Pedidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="listadoPedidos">Listado de Pedidos Sin Aprobar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="listadoPedidosCompletos">Listado de Pedidos Aprobados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="listadoPedidosTotales">Listado de Pedidos Totales</a>
  </li>
</ul>
<router-outlet></router-outlet>
